@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    gap: 10px;
}
header h1{
    font-family: "Indie flower", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
}
button {
    width: 10%;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: #1892d3;
    border: none;
}
